h3 {
    color: red;
}

ul > a {
  text-decoration: none;
}

ul > a:hover {
  text-decoration: none;
}

a.active li {
  z-index: 2;
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}
